div.navbar-collapse.collapse {
  justify-content: flex-end;
}

.nav-links-andy {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
.nav-border {
  background-color: rgb(240, 236, 236);

  display: flex;
}

#nav {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  z-index: 3;
}

.auth-menu,
.unauth-menu {
  display: flex;
  align-self: flex-end;
  /* position: relative;
  left: 50vw; */
  z-index: 3;

  color: white;

  font-size: 2.3vw;
}

.both-menu {
  /* display: flex;
  align-self: flex-end;
  position: relative;
  left: 50.9vw; */
  z-index: 3;
  font-size: 2.3vw;
}

.welcome-user {
  /* display: flex;
  align-self: flex-end;
  position: relative;
  left: 51vw; */
  z-index: 3;
  top: 0.8vh;
  font-size: 2.3vw;
}

.logo-home {
  display: flex;
  /* justify-content: space-between; */
  z-index: 3;
}

@media screen and (max-width: 990px) {
  .logo-home {
    width: 98%;
    padding: 0 20px;
    justify-content: space-between;
  }
  .nav-links-andy {
    flex-direction: column;
    background-color: #f0ecec;
  }
  .auth-menu a {
    margin: 0 5px;
  }
}

.Nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
