
/* #nav {
  background-color: lightblue;
  display: inline-flexbox;
  text-align: center;
  margin: 0 auto;
  padding: 15px;
  flex-wrap: wrap;
  background-color: rgb(238, 227, 103);
  
}
.Link */
/* //for our links inside the NAVBAR... */
/* {
  display: flex;
  flex-direction: row; */
  /* padding: 0px 10px 0px 10px; */
  /* font-family: “Monoton”;
  font-size: 18px; */
  /* text-align: right; */
  /* margin-left: 300px;
  
}

.menu-border {
  border: 1px solid black;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 300px
  
}

#menu {
  
  display: flex;
  
  justify-content: space-around;
  
} */

.nav-border {
  background-color: lightgray;

  display: flex;
}

#nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  z-index: 3;
}


.auth-menu,
.unauth-menu {
  display: flex;
  align-self: flex-end;
  position: relative;
  left: 50vw;
  z-index: 3;
  font-size: 24px;
}

.both-menu {
  display: flex;
  align-self: flex-end;
  position: relative;
  left: 50.9vw;
  z-index: 3;
  font-size: 24px;

}

.welcome-user {
  display: flex;
  align-self: flex-end;
  position: relative;
  left: 51vw;
  z-index: 3;
  top: .8vh;
  font-size: 24px;

}


.logo-home {
  display: flex;
  align-self: flex-end;
  z-index: 3;
}

@media screen and (max-width: 900px) {
.unauth-menu,
.both-menu {

  display: flex;
  align-self: flex-end;
  position: relative;
  left: 30vw;
  z-index: 3;

}
}

@media screen and (max-width: 1660px) {
  .auth-menu {
  display: flex;
  align-self: flex-end;
  position: relative;
  left: 45vw;
  z-index: 3;
  }

  .both-menu {
    display: flex;
    align-self: flex-end;
    position: relative;
    left: 46vw;
    z-index: 3;
    font-size: 24px;
  
  }
  
  .welcome-user {
    display: flex;
    align-self: flex-end;
    position: relative;
    left: 46vw;
    z-index: 3;
    top: .8vh;
    font-size: 24px;
  
  }
  
}



@media screen and (max-width: 1450px) {
  .auth-menu {
  display: flex;
  align-self: flex-end;
  position: relative;
  left: 38vw;
  z-index: 3;
  }

  .both-menu {
    display: flex;
    align-self: flex-end;
    position: relative;
    left: 39vw;
    z-index: 3;
    font-size: 24px;
  
  }
  
  .welcome-user {
    display: flex;
    align-self: flex-end;
    position: relative;
    left: 39vw;
    z-index: 3;
    top: .8vh;
    font-size: 24px;
  
  }
  
}

@media screen and (max-width: 1250px) {
  .auth-menu {
  display: flex;
  align-self: flex-end;
  position: relative;
  left: 30vw;
  z-index: 3;
  }

  .both-menu {
    display: flex;
    align-self: flex-end;
    position: relative;
    left: 31.5vw;
    z-index: 3;
    font-size: 24px;
  
  }
  
  .welcome-user {
    display: flex;
    align-self: flex-end;
    position: relative;
    left: 32vw;
    z-index: 3;
    top: .8vh;
    font-size: 24px;
  
  }
  
}

@media screen and (max-width: 1100px) {
  .auth-menu {
  display: flex;
  align-self: flex-end;
  position: relative;
  left: 20vw;
  z-index: 3;
  }

  .both-menu {
    display: flex;
    align-self: flex-end;
    position: relative;
    left: 21vw;
    z-index: 3;
    font-size: 24px;
  
  }
  
  .welcome-user {
    display: flex;
    align-self: flex-end;
    position: relative;
    left: 21.5vw;
    z-index: 3;
    top: .8vh;
    font-size: 24px;
  
  }
  
}

@media screen and (max-width: 1000px) {
  .auth-menu {
  display: flex;
  align-self: flex-end;
  position: relative;
  left: 10vw;
  z-index: 3;
  }

  .both-menu {
    display: flex;
    align-self: flex-end;
    position: relative;
    left: 11.5vw;
    z-index: 3;
    font-size: 24px;
  
  }
  
  .welcome-user {
    display: flex;
    align-self: flex-end;
    position: relative;
    left: 12vw;
    z-index: 3;
    top: .8vh;
    font-size: 24px;
  
  }
  
}

@media screen and (max-width: 850px) {
  .auth-menu {
  display: flex;
  align-self: flex-end;
  position: relative;
  left: 1vw;
  z-index: 3;
  font-size: 20px;
  }

  .both-menu {
    display: flex;
    align-self: flex-end;
    position: relative;
    left: 1vw;
    z-index: 3;
    font-size: 20px;
  
  }
  
  .welcome-user {
    display: flex;
    align-self: flex-end;
    position: relative;
    left: 1vw;
    z-index: 3;
    top: .8vh;
    font-size: 20px;
  
  }
  

}

@media screen and (max-width: 750px) {
  .auth-menu {
  display: flex;
  align-self: flex-end;
  position: relative;
  left: 1vw;
  z-index: 3;
  font-size: 12px;
  }

  .both-menu {
    display: flex;
    align-self: flex-end;
    position: relative;
    left: 1vw;
    z-index: 3;
    font-size: 12px;
  
  }
  
  .welcome-user {
    display: flex;
    align-self: flex-end;
    position: relative;
    left: 1vw;
    z-index: 3;
    top: .8vh;
    font-size: 12px;
  
  }
  

}


@media screen and (max-width: 650px) {
  .auth-menu,
.unauth-menu,
.both-menu {

  position: relative;
  left: 1vw;
  z-index: 3;

  }
}










.Nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

