.phrase {
  display: flex;
  margin-left: 700px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 60px;
  padding-top: 100px;
  padding-bottom: 44px;
  color: white;
}

.create {
  display: flex;
  background-image: url(https://i.imgur.com/LVi7mRP.jpg?1);
  opacity: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: -200px;
  height: 100vh;
  width: 100vw;
}

.create-form {
  display: flex;
  width: 50%;

  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 30vh 50vw;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.606);
  margin-top: 25vh;
  padding: 80px;
}
.inputName,
.inputPrice,
.inputDescription,
.inputImage {
  border: 1px solid rgb(0, 0, 0);
}
#input {
  display: flex;
  align-items: center;
  margin-right: 100px;
  margin-top: 0px;
  padding-right: 100px;
  padding-left: 20px;
  padding-top: 1px;
  padding-bottom: 10px;
}

/* .buttonBox {
  margin-bottom: 00px;
  
} */
.submit-button {
  border: none;
  color: white;
  background-color: rgb(37, 66, 89);
  padding: 5px 15px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  margin-top: 20px;
  /* margin-left:500px; */
}
