.signOut {
  background-image: url(https://i.imgur.com/iiMYF7H.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: -132px;
  height: 100vh;
  width: 100vw;
  text-align: center;
}
#paragraph {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 5vw;
  /* margin-left: 275px; */
  padding-top: 20vh;
}
