
.form-container {
  background-image: url(https://i.imgur.com/iiMYF7H.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  }

.h3SignIn {
  border: 3px black solid;
  display: flex;
  margin-left: 650px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 60px;
}



.form {
  border: 3px solid blue;
  display: flex;
  width: 50%;;
  margin-left: 40%;
  flex-direction: column;
  justify-content: space-around;
  height: 50vh;
  align-items: flex-end;
  margin-top: 10%;
  margin-right: 10%;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
  margin-left: 650px;
  font-size: 20px;
  padding-bottom: 400px;
}



.input {
  padding: 9px 80px;
  outline: none;
  border: none;
  margin-left: 25px;
  font-size: 20px;

}

