/* .parent-create {
  background-image: url(https://i.imgur.com/LVi7mRP.jpg?1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  border: 5px solid rgb(76, 206, 80);
}
.form-create-div {
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5);
  width: 60%;
  height: 60%;
  display: inline-flexbox;
  border: 5px solid rgb(86, 101, 211);
} */

/* #phrase { */
  /* font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 3rem;
  letter-spacing: 1.5px;
  text-align: center; */
  /* border: 5px solid rgb(179, 58, 78);
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 60px;
  margin-left: 300px;
  color: rgb(85, 109, 126);
} */


