.pop-products {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-family: "Yanone Kaffeesatz", sans-serif;
  background-color: white;
  padding-bottom: 100%;
  /* margin-bottom: -60%; */
  align-items: center;
}

#popular-items {
  display: flex;
  justify-content: center;
  /* background-color: red; */
}

.popular-items-links {
  text-decoration: none;
  color: black;
  text-align: center;
  letter-spacing: 2px;
}
