/* .background {
  size: cover;
  position: absolute;
  z-index: -1;
  max-width: 100%;
  height: auto;
}

/* .random {
  border: 2px black solid;
  padding: 100px;
  margin: 50px;
  position: absolute;
  /* top: 100vh; */

.background2 {
  size: cover;
  position: relative;
  z-index: -1;

  max-width: 100%;
  height: auto;
  top: 1vh;
}

.top-background-image {
  width: fit-content; 
 position: relative; 
  z-index: -1;
  height: 100vh;
  width: fit-content;
  margin-bottom: 100px;
}

.divider {
  border: 5px solid black;
}

.most-popular-cards {
  border: 5px solid black;
  display: flex;
  flex-direction: row;
}

