html,
body {
  height: 100%;
  width: 100%;
}
.background-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.background-top {
  display: flex;
  /* size: cover; */
  /* position: absolute; */
  z-index: -1;
  width: 100%;
  height: 80%;
  filter: alpha(Opacity=90);
  opacity: 0.9;
  filter: blur(3px);
  margin-bottom: 0.5%;

  margin-top: -132px;
}

#title-quote {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 5rem;
  letter-spacing: 1.5px;
}

.quote-block {
  display: flex;
  flex-direction: column;
  padding: 5px 25px 5px 25px;
  justify-content: center;
  margin: 100px 0;
  width: 60%;
  left: 50%;
  top: 46%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 3rem;
  letter-spacing: 1.5px;
  text-align: center;
}

.random {
  background-image: url(https://i.imgur.com/R9y07Wo.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  /* display: flex; */
  padding: 15px;
  /* width: 100%; */
  /* height: 20%; */
  /* margin: 5px 0; */
  /* position: absolute; */
  /* margin-bottom: -20vh; */
}

.background-bottom {
  size: cover;
  /* position: relative; */
  z-index: -1;
  width: 100%;
  height: 80%;
  margin-top: 0.5%;
}

.shop-now-btn {
  /* border: none; */
  color: white;
  background-color: #4d6e7f;
  padding: 10px 30px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.5rem;
  left: 77.1%;
  top: 70%;
  transform: translate(-50%, -50%);
  position: absolute;
  letter-spacing: 1.5px;
  /* margin-bottom: 400px; */
  /* margin-top: 25px;
  margin-right: 100px; */
}

.shop-link,
.shop-link:hover {
  text-decoration: none;
  font-size: 1em;
  color: white;
}

#white-background {
  background-image: url(https://imgur.com/jeZ7LEJ.jpg);
  border: 2px solid black;
  background-color: white;
  background-size: cover;
  width: 100%;
  height: 80%;
  margin-top: 0.5%;
  padding-bottom: 100%;

}